<h1>Go on a Trip</h1>

<%= form_for @trip do |f| %>
  <%= f.label :reason %>
  <%= f.text_field :reason %>

  <%= f.label :length %>
  <%= f.number_field :length %>

  <%= f.label :alien_id %>
  <%= f.collection_select :alien_id, @aliens, :id, :name  %>

  <%= f.label :planet_id %>
  <%= f.collection_select :planet_id, @planets, :id, :name %>
  

  <%= f.submit %>
<% end %>

