<div class="form-container">
  <%= form_for :session, url: login_path do |f| %>
    <div class="form-input">
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>

    <div class="form-input">
        <%= f.label :password %>
        <%= f.text_field :password %>
    </div>

    <%= f.submit class: "form-btn" %>
    
  <% end %>

</div>
